<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un logement</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include "general_header.html" %}
    <main>
        <section id="new-place">
            <h1 class="new-place-main-title">Votre logement</h1>
            <form id="new-place-form" class="new-place-form">
                <p>Preview de la gallerie photo de votre logement :</p>
                <label class="photo-gallery">
                    {% set default_img = url_for('static', filename="images/default-place-grey.png") %}
                    <img class="place-photo-main" src="{{ default_img }}" alt="Photo principale">
                    <img class="place-photo-little little-1" src="{{ default_img }}" alt="Photo 1">
                    <img class="place-photo-little little-2" src="{{ default_img }}" alt="Photo 2">
                    <img class="place-photo-little little-3" src="{{ default_img }}" alt="Photo 3">
                    <img class="place-photo-little little-4" src="{{ default_img }}" alt="Photo 4">
                </label>
                <div class="add-photo-wrapper">
                    <button id="add-photo-btn" class="add-new-photos-btn" type="button">
                        <svg class="plus-icon" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M19 11H13V5H11V11H5V13H11V19H13V13H19V11Z">
                        </svg>
                    </button>
                    <span class="add-photo-text">Ajouter une photo</span>
                </div>
                <div id="photo-url-inputs"></div>
                <div class="new-place-informations">
                    <label>
                        <span class="label-text">Nom de votre hébergement :</span>
                        <input id="new-place-title" type="text" name="title" maxlength="50" value="">
                    </label>
                    <div class="char-counter" id="new-place-title-counter">0 / 50</div>
                    <label>
                        <span class="label-text">Courte descrpition de votre hébergement :</span>
                        <textarea id="new-place-comment" name="comment" rows="6" maxlength="1000"></textarea>
                    </label>
                    <div class="char-counter" id="new-place-comment-counter">0 / 1000</div>
                    <label>
                        <span class="label-text">Prix par nuit dans votre hébergement :</span>
                        <input type="text" name="price" id="new-place-price" value="">
                    </label>
                    <label>
                        <span class="label-text">Adresse :</span>
                        <input type="text" id="new-place-address" name="address" placeholder="Entrez une adresse">
                    </label>
                    <input type="hidden" name="latitude" id="new-place-latitude">
                    <input type="hidden" name="longitude" id="new-place-longitude">
                    <input type="hidden" id="current-user-id" value="{{ current_user.id }}">
                    <span class="label-text">Les équipements disponibles :</span>
                    <div id="new-place-amenities-list" class="new-place-amenities-checkbox"></div>
                </div>
                <button class="login-validation-button" type="submit">Mettre mon logement en location</button>
            </form>
        </section>
    </main>
    <script type="module" src="{{ url_for('static', filename='js/add_place.js') }}"></script>
    <script src="{{ url_for('static', filename='js/new_place_adress.js') }}"></script>
</div>
</body>
<footer>
    <div class="footer-content">
        <p>
            &copy; 2025 HBnB. Fait avec ❤️ à Holberton School Dijon par 
            <a href="https://github.com/Proser-V">Valentin DUMONT</a> et <a href="https://github.com/loufi84">Quentin LATASTE</a>.
        </p>
    </div>
</footer>
</html>
