<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Review</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header class="header">
        <div class="header-logo">
            <a href="{{ url_for('web.index') }}">
                <img src = "{{ url_for('static', filename='images/logo.png') }}" alt="HBnB logo">
            </a>
        </div>
        <nav id="user-nav">
            {% if current_user %}
                <div class ="user-nav-inner">
                    <a href="#" class="user-logged">
                        {{ current_user.first_name }}
                        <img class="header-user-photo" src="{{ current_user.photo_url or '../static/images/default-user.png' }}" alt="Profil de {{ current_user.first_name }}">
                    </a>
                    <span class="separation">|</span>
                    <a href="{{ url_for('web.logout') }}" id="logout-link">Logout</a>
                </div>
            {% else %}
                <div class="header-auth">
                    <div class="header-registration">
                        <a href="{{ url_for('web.new_user') }}" id="registration-link">Créer un compte</a>
                    </div>
                    <p class="separation">|</p>
                    <div class="header-login">
                        <a href="{{ url_for('web.login') }}" id="login-link">Login</a>
                    </div>
                </div>
            {% endif %}
        </nav>
    </header>
    <main>
        <section id="place-details">
            <div class="photo-gallery">
                {% set default_img = url_for('static', filename="images/default-place-grey.png") %}
                {% set total_photos = photos_url|length %}
                {% for i in range(5) %}
                    {% set photo = photos_url[i] if total_photos > i else default_img %}
                    {% if i == 0 %}
                        <img class="place-photo-main" src="{{ photo }}" alt="Photo principale">
                    {% elif i == 1 %}
                        <img class="place-photo-little little-1" src="{{ photo }}" alt="Photo 1">
                    {% elif i == 2 %}
                        <img class="place-photo-little little-2" src="{{ photo }}" alt="Photo 2">
                    {% elif i == 3 %}
                        <img class="place-photo-little little-3" src="{{ photo }}" alt="Photo 3">
                    {% elif i == 4 %}
                        <img class="place-photo-little little-4" src="{{ photo }}" alt="Photo 4">
                    {% endif %}
                {% endfor %}
                <button class="show-all-photos-btn" onclick="">Voir toutes les photos</button>
            </div>
            <div id="lightbox-overlay" class="lightbox hidden">
                <img id="lightbox-img" src="" alt="Image agrandie">
            </div>
            <div class="place-info-card">
                <div class="place-title">
                    <h2>{{ place.title }}</h2>
                </div>
                <div class="place-location">
                    <p id="location-name">{{ place.city_name }}</p>
                </div>
                <div class="place-owner">
                    <img class="place-owner-photo" src="{{ place.owner.photo_url or '../static/images/default-user.png' }}" alt="Profil de {{ place.owner.first_name }}" data-user-photo="{{ place.owner.photo_url }}" data-user-name="{{ place.owner.first_name }} {{ place.owner.last_name }}">
                    <a class="place-owner-name" href="#" data-user-photo="{{ place.owner.photo_url }}" data-user-name="{{ place.owner.first_name }} {{ place.owner.last_name }}">{{ place.owner.first_name }} {{ place.owner.last_name }}</a>
                </div>
                <div class="place-description">
                    <p>{{ place.description }}</p>
                </div>
                <div class="place-price">
                    <p><bold>{{ "%.2f"|format(place.price) }}</bold> €/nuit</p>
                </div>
            </div>
        </section>
        <form id="review-form">
            <h2>Add a Review</h2>
            <label for="review">Your Review:</label>
            <textarea id="review" name="review" required></textarea>
            <label for="rating">Rating:</label>
            <select id="rating" name="rating" required>
                <!-- Options for rating -->
            </select>
            <button type="submit">Submit Review</button>
        </form>
    </main>
    <script src="scripts.js"></script>
</body>
</html>
