<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBnB - Réservations pour {{ place.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include "general_header.html" %}
    <main>
        <section id="place-details">
            <div class="photo-gallery">
                {% set default_img = url_for('static', filename="images/default-place-grey.png") %}
                {% set total_photos = photos_url|length %}
                {% for i in range(5) %}
                    {% set photo = photos_url[i] if total_photos > i else default_img %}
                    {% if i == 0 %}
                        <img class="place-photo-main" src="{{ photo }}" alt="Photo principale">
                    {% elif i == 1 %}
                        <img class="place-photo-little little-1" src="{{ photo }}" alt="Photo 1">
                    {% elif i == 2 %}
                        <img class="place-photo-little little-2" src="{{ photo }}" alt="Photo 2">
                    {% elif i == 3 %}
                        <img class="place-photo-little little-3" src="{{ photo }}" alt="Photo 3">
                    {% elif i == 4 %}
                        <img class="place-photo-little little-4" src="{{ photo }}" alt="Photo 4">
                    {% endif %}
                {% endfor %}
                <button class="show-all-photos-btn" onclick="">Voir toutes les photos</button>
            </div>
            <div id="lightbox-overlay" class="lightbox hidden">
                <img id="lightbox-img" src="" alt="Image agrandie">
            </div>
            <div class="place-info-card">
                <div id="place-list-informations">
                    <div class="place-title">
                        <h2>{{ place.title }}</h2>
                    </div>
                    <div class="place-location">
                        <p id="location-name">{{ place.city_name }}</p>
                    </div>
                    <div class="place-owner">
                        <img class="place-owner-photo" src="{{ place.owner.photo_url or '../static/images/default-user.png' }}" alt="Profil de {{ place.owner.first_name }}" data-user-photo="{{ place.owner.photo_url }}" data-user-name="{{ place.owner.first_name }} {{ place.owner.last_name }}">
                        <a class="place-owner-name" href="#" data-user-photo="{{ place.owner.photo_url }}" data-user-name="{{ place.owner.first_name }} {{ place.owner.last_name }}">{{ place.owner.first_name }} {{ place.owner.last_name }}</a>
                    </div>
                    <div class="place-description">
                        <p>{{ place.description }}</p>
                    </div>
                    <div class="place-price">
                        <p><bold>{{ "%.2f"|format(place.price) }}</bold> €/nuit</p>
                    </div>
                    <div class="next_booking">
                        {% if place.available_date and place.available_date > now %}
                            Prochaine disponibilité : {{ place.available_date.strftime('%d/%m/%Y') }}
                        {% else %}
                            Disponible dès maintenant.
                        {% endif %}
                    </div>
                    <div>
                        <p class="place-card-rating">
                            {% set rating = place.rating or 0 %}
                            {% set note = ((rating * 2) | round) / 2 %}
                            {% if rating == 0 %}
                            <p>Pas encore de note</p>
                            {% else %}
                            {% for i in range(1, 6) %}
                                {% if i <= note %}
                                <span class="star">★</span>
                                {% elif i - 0.5 == note %}
                                <span class="star">⯪</span>
                                {% else %}
                                <span class="star">☆</span>
                                {% endif %}
                            {% endfor %}
                            <span class="place-card-rating-value">{{ note }}</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="place-amenities">
                    {% if place.amenities %}
                        <h3 class="place-list-amenities-title">Équipements disponibles pour cet hébergement :</h3>
                    <div id="place-list-amenities">
                        {% for amenity in place.amenities %}
                            <div class="amenity-item">
                                <img src="{{ url_for('static', filename='icons/' ~ amenity.icon_file) }}"
                                    alt="{{ amenity.name }} icon"
                                    class="amenity-icon">
                                <span>{{ amenity.name }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>Aucune commodité renseignée.</p>
                    {% endif %}
                </div>
            </div>
        </section>
        <section id="new_booking">
        <div class="booking-container">
            <div class="booking-info">
                <h2>Vous souhaitez réserver :</h2>
                <p id="selected-dates" class="selected-dates">Aucune date sélectionnée</p>
                <form id="booking-form">
                    <button id="btn-book" type="submit">Réserver</button>
                </form>
            </div>
            <div id="calendar" class="calendar" data-place-id="{{ place.id }}"></div>
        </div>
        </section>
    </main>
    <div id="modal-overlay" class="hidden"></div>
    <div id="user-modal" class="user-card-modal hidden">
        <div class="user-modal-content">
            <span id="close-user-modal" class="close" style="cursor:pointer; font-size:24px;">&times;</span>
            <img id="modal-user-photo" src="" alt="Photo utilisateur" style="width:100px; border-radius: 50%;">
            <h2 id="modal-user-name"></h2>
            <button id="user-contact-button" class="message-button" onclick="window.location.href='/under_construction'">Contactez-moi</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/user_popup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/show_photos.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>
    <script>
        const reservedRanges = {{ bookings | tojson | safe }};
    </script>
    <script type="module" src="{{ url_for('static', filename='js/calendar.js') }}"></script>
</body>
<footer>
    <div class="footer-content">
        <p>
            &copy; 2025 HBnB. Fait avec ❤️ à Holberton School Dijon par 
            <a href="https://github.com/Proser-V">Valentin DUMONT</a> et <a href="https://github.com/loufi84">Quentin LATASTE</a>.
        </p>
    </div>
</footer>
</html>
