<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
    {% include "general_header.html" %}
    <main>
        <section id="filters">
            <h2>Filtrez nos logements</h2>
            <div class="filter">
                <span>Destination : </span>
                <input id="address-filter" type="text" placeholder="Ville, adresse...">
                <div id="choices-container"></div>
                <span>Rayon de recherche : </span>
                <select id="distance-filter">
                    <option value="9999" selected>Aucun</option>
                    <option value="5">5 km</option>
                    <option value="10">10 km</option>
                    <option value="25">25 km</option>
                    <option value="50">50 km</option>
                    <option value="100">100 km</option>
                </select>
                <input type="hidden" name="latitude" id="latitude-filter">
                <input type="hidden" name="longitude" id="longitude-filter">
                <span>Prix par nuit : </span>
                <input id="min-price-filter" type="text" placeholder="Minimum">
                <input id="max-price-filter" type="text" placeholder="Maximum">
                <button id="filter-btn" type="button">Filtrer</button>
            </div>
        </section>
        <section id="places-section">
            <h2>Découvrez nos logements</h2>
            <div id="places-list">
                <p id="no-results-msg" style="display:none;">Aucun logement ne correspond à vos critères.</p>
                {% if places_list %}
                    {% for place in places_list %}
                    {% set img_url = place.photos_url[0] if place.photos_url else url_for('static', filename="images/default-place-grey.png") %}
                    <a href="{{ url_for('web.show_place', place_id=place.id) }}" class="place-card">
                        <img src="{{ img_url }}"
                            alt="{{ place.title }}"
                            class="place-front-pic">
                        <div class="place-card-content">
                            <h2 class="place-card-title">{{ place.title }}</h2>
                            <p class="place-card-price" data-price="{{ place.price }}"><strong>{{ "%.2f"|format(place.price) }}</strong> €/nuit</p>
                            <p class="place-card-rating">
                                {% set rating = place.rating or 0 %}
                                {% set note = ((rating * 2) | round) / 2 %}
                                {% if rating == 0 %}
                                    <p>Pas encore de note</p>
                                {% else %}
                                    {% for i in range(1, 6) %}
                                        {% if i <= note %}
                                        <span class="star">★</span>
                                        {% elif i - 0.5 == note %}
                                        <span class="star">⯪</span>
                                        {% else %}
                                        <span class="star">☆</span>
                                        {% endif %}
                                    {% endfor %}
                                    <span class="place-card-rating-value">{{ note }}</span>
                                {% endif %}
                            </p>
                            <div class="place-location" data-lat="{{ place.latitude }}" data-lon="{{ place.longitude}}">
                                <p class="location-name">{{ place.city_name }}</p>
                            </div>
                            <div class="next_booking">
                                {% if place.available_date and place.available_date > now %}
                                    Prochaine disponibilité : {{ place.available_date.strftime('%d/%m/%Y') }}
                                {% else %}
                                    Disponible dès maintenant.
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                {% else %}
                    <p>Aucun hébergement trouvé.</p>
                {% endif %}
            </div>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/filter.js') }}"></script>
</body>
<footer>
    <div class="footer-content">
        <p>
            &copy; 2025 HBnB. Fait avec ❤️ à Holberton School Dijon par 
            <a href="https://github.com/Proser-V">Valentin DUMONT</a> et <a href="https://github.com/loufi84">Quentin LATASTE</a>.
        </p>
    </div>
</footer>
</html>
