<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="index-header">
        <div class="header-logo">
            <a href="{{ url_for('web.index') }}">
                <img src = "{{ url_for('static', filename='images/logo.png') }}" alt="HBnB logo">
            </a>
        </div>
        <div class="header-filter">
            <section id="filter">
                <input type="text" id="filter-input" placeholder="Rechercher un lieu...">
               <img class="filter-icon" src = "../static/images/loupe.png" alt="Searching_icon">
            </section>
        </div>
        <nav id="user-nav">
            {% if current_user %}
                <div class ="user-nav-inner">
                    <a href="#" class="user-logged">
                        {{ current_user.first_name }}
                        <img class="header-user-photo" src="{{ current_user.photo_url or '../static/images/default-user.png' }}" alt="Profil de {{ current_user.first_name }}">
                    </a>
                    <span class="separation">|</span>
                    <a href="{{ url_for('web.logout') }}" id="logout-link">Logout</a>
                </div>
            {% else %}
                <div class="header-auth">
                    <div class="header-registration">
                        <a href="{{ url_for('web.new_user') }}" id="registration-link">Créer un compte</a>
                    </div>
                    <p class="separation">|</p>
                    <div class="header-login">
                        <a href="{{ url_for('web.login') }}" id="login-link">Login</a>
                    </div>
                </div>
            {% endif %}
        </nav>
    </header>
    <main>
        <section id="places-section">
            <h2>Découvrez nos logements</h2>

            <div id="places-list">
                {% for place in places_list %}
                {% set img_url = place.photos_url[0] if place.photos_url else url_for('static', filename="images/default-place-grey.png") %}
                <a href="{{ url_for('web.show_place', place_id=place.id) }}" class="place-card">
                    <img src="{{ img_url }}"
                        alt="{{ place.title }}"
                        class="place-front-pic">
                    <div class="place-card-content">
                    <h2 class="place-card-title">{{ place.title }}</h2>
                    <p class="place-card-price"><bold>{{ "%.2f"|format(place.price) }}</bold> €/nuit</p>
                    <p class="place-card-rating">
                        {% set rating = place.rating or 0 %}
                        {% set note = ((rating * 2) | round) / 2 %}
                        {% if rating == 0 %}
                        <p>Pas encore de note</p>
                        {% else %}
                        {% for i in range(1, 6) %}
                            {% if i <= note %}
                            <span class="star">★</span>
                            {% elif i - 0.5 == note %}
                            <span class="star">⯪</span>
                            {% else %}
                            <span class="star">☆</span>
                            {% endif %}
                        {% endfor %}
                        <span class="place-card-rating-value">{{ note }}</span>
                        {% endif %}
                    </p>
                    <div class="place-location">
                        <p class="location-name">{{ place.city_name }}</p>
                    </div>
                    <div class="next_booking">
                        {% set now = now %}
                        {% set blocking_booking = place.bookings 
                            | selectattr("status", "equalto", "PENDING") 
                            | selectattr("start_date", "<=", tomorrow) 
                            | selectattr("end_date", ">=", now) 
                            | sort(attribute="end_date")
                            | first %}

                        {% if blocking_booking %}
                        Prochaine disponibilité : {{ blocking_booking.end_date.strftime("%d/%m/%Y") }}
                        {% else %}
                        Disponible immédiatement
                        {% endif %}
                    </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <p>All rights reserved</p>
        </div>
    </footer>
</body>
</html>
