<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <div class="header-logo">
            <a href="{{ url_for('web.index') }}">
                <img src = "{{ url_for('static', filename='images/logo.png') }}" alt="HBnB logo">
            </a>
        </div>
        <nav id="user-nav">
                <button class="back-btn" onclick="history.back()">Retour vers la page précédente</button>
        </nav>
    </header>
    <main>
        <section id="user-details">
            <div class="avatar-display">
                <button class="btn-to-change-avatar">
                    <img class="user-details-photo"
                    src="{{ user.photo_url or '/static/images/default-user.png' }}"
                    alt="Profil de {{ user.first_name }}">
                </button>
            </div>
            <div class="user-detail-display">
                <div class="user-details-name">
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                </div>
                <div class="user-details-email">
                    <p>{{ user.email }}</p>
                </div>
                <div id="user-update-container" class="update-container">
                    <div class="button-wrapper" id="button-wrapper">
                        <button id="toggle-update-btn" class="update-toggle-btn">
                        Modifiez vos informations personnelles
                        </button>
                    </div>
                    <div id="form-wrapper" class="form-wrapper">
                        <form id="user-update-form" class="update-form" data-user-id="{{ user.id }}">
                            <div class="first-name-update">
                                <h5>Ne remplissez que les champs à mettre à jour:</h5>
                                <label>
                                    <span class="label-text">Prénom :</span>
                                    <input type="text" name="first_name" value="">
                                </label>
                                <label>
                                    <span class="label-text">Nom :</span>
                                    <input type="text" name="last_name" value="">
                                </label>
                                <label>
                                    <span class="label-text">Email :</span>
                                    <input type="email" name="email" value="">
                                </label>
                                <label>
                                    <span class="label-text">Mot de passe :</span>
                                    <input type="password" name="password" value="">
                                </label>
                                <label>
                                    <span class="label-text">Photo de profil (URL) :</span>
                                    <input type="text" name="photo_url" value="">
                                </label>
                            </div>
                                <button type="submit" class="btn-submit">Enregistrer</button>
                                <button type="button" class="btn-cancel" id="cancel-update-form">Annuler</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section id="user-places">
            <h2>Liste de vos hébergements</h2>
            <div id="user-places-list">
                {% if user.places %}
                    {% for place in user.places %}
                    {% set img_url = place.photos_url[0] if place.photos_url else url_for('static', filename="images/default-place-grey.png") %}
                    <a href="{{ url_for('web.show_place', place_id=place.id) }}" class="place-card">
                        <img src="{{ img_url }}"
                            alt="{{ place.title }}"
                            class="place-front-pic">
                        <div class="place-card-content">
                        <h2 class="place-card-title">{{ place.title }}</h2>
                        <p class="place-card-price"><bold>{{ "%.2f"|format(place.price) }}</bold> €/nuit</p>
                        <p class="place-card-rating">
                            {% set rating = place.rating or 0 %}
                            {% set note = ((rating * 2) | round) / 2 %}
                            {% if rating == 0 %}
                            <p>Pas encore de note</p>
                            {% else %}
                            {% for i in range(1, 6) %}
                                {% if i <= note %}
                                <span class="star">★</span>
                                {% elif i - 0.5 == note %}
                                <span class="star">⯪</span>
                                {% else %}
                                <span class="star">☆</span>
                                {% endif %}
                            {% endfor %}
                            <span class="place-card-rating-value">{{ note }}</span>
                            {% endif %}
                        </p>
                        <div class="place-location">
                            <p class="location-name">{{ place.city_name }}</p>
                        </div>
                        <div class="next_booking">
                            {% set now = now %}
                            {% set blocking_booking = place.bookings 
                                | selectattr("status", "equalto", "PENDING") 
                                | selectattr("start_date", "<=", tomorrow) 
                                | selectattr("end_date", ">=", now) 
                                | sort(attribute="end_date")
                                | first %}

                            {% if blocking_booking %}
                            Prochaine disponibilité : {{ blocking_booking.end_date.strftime("%d/%m/%Y") }}
                            {% else %}
                            Disponible immédiatement
                            {% endif %}
                        </div>
                        </div>
                    </a>
                    {% endfor %}
            </div>
            {% else %}
            <div id="user-places-list-content">
                <p>Vous n'avez pas encore enregistré de logement.</p>
            {% endif %}
            <a class="button-to-add-place" href="{{ url_for('web.add_place') }}">Ajouter un logement à louer</a>
            </div>
        </section>
    </main>
    <script type="module" src="{{ url_for('static', filename='js/user_update.js') }}"></script>
</body>
<footer>
    <div class="footer-content">
        <p>
            &copy; 2025 HBnB. Fait avec ❤️ à Holberton School Dijon par 
            <a href="https://github.com/Proser-V">Valentin DUMONT</a> et <a href="https://github.com/loufi84">Quentin LATASTE</a>.
        </p>
    </div>
</footer>
</html>
