@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

/* ---------------- General settings ---------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cabin";
}

html {
    scroll-behavior: smooth;
    font-size: 80%;
    font-family: "Cabin" !important;
}

:root {
    --color-primary: #fffefe;
    --color-header: #fafbfb;
    --text-color: #333;
    --light-text-color: #b9b9b9bc;
    --card-border-color : #ddd;
    --star-color: #b72121;
    --shadow-color: rgba(0,0,0,0.1);
    --overlay-color: rgba(0, 0, 0, 0.8);
}

.hidden {
  display: none !important;
}

.under-construction {
  text-align: center;
  margin-top: 10px;
}

.under-construction-pics {
  display: flex;
  align-items: center;
  width: 25%;
  height: auto;
  margin: auto;
}

/* ---------------- header settings ---------------- */

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-header);
    color: var(--text-color);
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--card-border-color);
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.index-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-header);
    color: var(--text-color);
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--card-border-color);
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.header-logo img {
  height: 50px;
}

.header-registration a {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
  font-size: 1.25rem;
}

.header-login a {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
  font-size: 1.25rem;
}

.header-logout {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
  font-size: 1.25rem;
  padding-right: 20px;
}

#current-user-profil-link {
  display: inline-block;
}

#user-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  background-color: var(--color-header);
}

.user-nav-inner, .admin-nav, .header-auth {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-logged {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.header-user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.back-btn {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
  border: none;
  background-color: var(--color-header);
  cursor: pointer;
}

.end-page-back {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  display: none;
  background-color: var(--star-color);
  color: var(--color-header);
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  font-size: 30px;
  box-shadow: 0 4px 10px var(--shadow-color);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.separation {
  padding-left: 10px;
}

/* ---------------- general body settings ---------------- */

body {
    background-color: var(--color-primary);
    color: var(--text-color);
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
}

/* ------ filter section settings ------ */

#choices-container:empty {
  display: none;
}

#choices-container {
  position: absolute;
  background-color: var(--color-primary);
  border: 1px solid var(--card-border-color);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  top: 100%;
  left: 0;
  cursor: pointer;
}

.filter {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px auto;
  gap: 8px;
}

.filter input,
.filter select {
  border-radius: 25px;
  padding: 10px;
  border: 1px solid var(--card-border-color);
}

#address-filter {
  width: 350px;
}

#min-price-filter,
#max-price-filter {
  width: 80px;
}

#filter-btn {
  display: inline-block;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  color: var(--color-primary);
  background-color: var(--star-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px var(--shadow-color);
  text-decoration: inherit;
  margin-left: 10px;
}

/* ------ admin section settings ------ */

.admin-panel {
  width: 99%;
  margin: 30px auto;
}

.admin-panel-amenity-icon {
  width: 40px;
}

#admin-new-amenity-btn,
#admin-new-admin-btn,
#admin-refresh-bookings-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 99%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  background-color: var(--light-text-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#open-admin-panel-user,
#open-admin-panel-place,
#open-admin-panel-review,
#open-admin-panel-booking,
#open-admin-panel-amenity,
#open-admin-panel-admin {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 99%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  background-color: var(--star-color);
  color: var(--color-primary);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-panel-user-wrapper,
.admin-panel-place-wrapper,
.admin-panel-review-wrapper,
.admin-panel-booking-wrapper,
.admin-panel-amenity-wrapper,
.admin-panel-admin-wrapper,
.admin-panel-new-amenity-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  background-color: var(--color-primary);
  padding: 0 20px;
  border-radius: 0 0 8px 8px;
}

.admin-panel.expanding-user .admin-panel-user-wrapper,
.admin-panel.expanding-place .admin-panel-place-wrapper,
.admin-panel.expanding-review .admin-panel-review-wrapper,
.admin-panel.expanding-booking .admin-panel-booking-wrapper,
.admin-panel.expanding-amenity .admin-panel-amenity-wrapper,
.admin-panel.expanding-admin-creation .admin-panel-admin-wrapper,
.admin-panel.expanding-amenity-creation .admin-panel-new-amenity-wrapper {
  max-height: 2000px;
  padding: 20px;
}

.admin-panel-user-wrapper table,
.admin-panel-place-wrapper table,
.admin-panel-review-wrapper table,
.admin-panel-booking-wrapper table,
.admin-panel-amenity-wrapper table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 12px;
  color: var(--text-color);
}

.admin-panel-user-wrapper th,
.admin-panel-user-wrapper td,
.admin-panel-place-wrapper th,
.admin-panel-place-wrapper td,
.admin-panel-review-wrapper th,
.admin-panel-review-wrapper td,
.admin-panel-booking-wrapper th,
.admin-panel-booking-wrapper td,
.admin-panel-amenity-wrapper th,
.admin-panel-amenity-wrapper td {
  border: 1px solid var(--card-border-color);
  padding: 5px;
}

.admin-panel-user-wrapper th,
.admin-panel-place-wrapper th,
.admin-panel-review-wrapper th,
.admin-panel-booking-wrapper th,
.admin-panel-amenity-wrapper th {
  text-align: center;
}

.admin-panel-user-wrapper thead,
.admin-panel-place-wrapper thead,
.admin-panel-review-wrapper thead,
.admin-panel-booking-wrapper thead,
.admin-panel-amenity-wrapper thead {
  background-color: #f5f5f5;
}

.admin-panel-user-wrapper tbody tr:nth-child(even),
.admin-panel-place-wrapper tbody tr:nth-child(even),
.admin-panel-review-wrapper tbody tr:nth-child(even),
.admin-panel-booking-wrapper tbody tr:nth-child(even),
.admin-panel-amenity-wrapper tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.admin-delete-amenity-btn,
.admin-update-amenity-btn,
.admin-cancel-booking-btn,
.admin-to-place-details-btn,
.admin-delete-review-btn,
.admin-delete-place-btn,
.admin-moderate-user-btn,
.admin-delete-user-btn,
.admin-to-user-profile-btn {
  padding: 5px;
}

#amenity-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-color);
  z-index: 999;
}

#amenity-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-primary);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px var(--shadow-color);
  z-index: 1000;
}

.amenity-modal {
  background-color: var(--color-primary);
  border-radius: 12px;
  padding: 1.5rem;
  max-width: 450px;
  width: 90%;
  box-shadow: 0 2px 10px var(--shadow-color);
  position: relative;
  text-align: center;
}

.amenity-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#close-amenity-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 24px;
  cursor: pointer;
}

.update-amenity-name,
.update-amenity-description,
.update-amenity-icon-file {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid var(--card-border-color);
  border-radius: 5px;
  margin: 5px 0;
  max-width: 400px;
  min-width: 400px;
}

.submit-amenity-update {
  padding: 8px 12px;
  background-color: var(--star-color);
  color: var(--color-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ------ owner section settings ------ */

.owner-section {
  border: 1px solid var(--card-border-color);
  margin: 20px auto;
  padding: 20px;
}

.owner-btn {
  border: none;
  border-radius: 50px;
  background-color: var(--star-color);
  margin: 5px;
  padding: 10px;
  color: var(--color-primary);
  cursor: pointer;
}

/* ------ place cards settings ------ */

#places-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 20px;
  margin: 20px;
  padding-right: 30px;
}

.place-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0;
  width: 300px;
  height: 300px;
  color: inherit;
  text-decoration: inherit;
}

.place-card-rating .star {
  color: var(--star-color);
}

.place-card-price {
  font-size: 125%;
}
.place-card-price strong,
.place-card-rating-value {
  font-weight: bold;
}

.place-front-pic {
  height: 200px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.place-card-content {
  margin-top: auto;
  padding: 10px;
}

.place-card-title {
  color: var(--text-color)
}

.place-card:hover {
  transition: transform 0.4s ease;
  transform: scale(1.05);
  box-shadow: 0 8px 16px var(--shadow-color);
  z-index: 10;
}

/* ------ place details settings ------ */

.photo-gallery {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  height: 500px;
}

.place-photo-main {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.place-photo-little {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.place-photo-little:nth-of-type(2) {
  grid-column: 2;
  grid-row: 1;
}

.place-photo-little:nth-of-type(3) {
  grid-column: 3;
  grid-row: 1;
}

.place-photo-little:nth-of-type(4) {
  grid-column: 2;
  grid-row: 2;
}

.place-photo-little:nth-of-type(5) {
  grid-column: 3;
  grid-row: 2;
}

.photo-gallery img:hover {
  transform: scale(1.05);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
  box-shadow: 0 0 20px var(--shadow-color);
}

.all-photos-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.all-photos {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
  box-shadow: 0 0 20px var(--shadow-color);
}

.show-all-photos-btn {
    grid-column: 1 / -1;
    margin-top: 0.5rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--color-primary);
    color: var(--text-color);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.place-info-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  width: 100%;
  min-height: 100px;
  color: inherit;
  text-decoration: inherit;
  margin-bottom: 20px;
}

.place-title {
  margin-top: 10px;
}

.place-owner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.place-owner-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.place-owner-name {
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  color: var(--text-color);
}

.place-location {
  margin-bottom: 10px;
}

.place-description {
  margin: 10px 0;
  font-style: italic;
}

.place-price {
  margin: 10px 0;
}

.place-price bold {
  font-weight: bold;
}

.place-visited-check{
  font-weight: bold;
  margin-bottom: 20px;
}

.login-button-fromplace, .button-to-booking, .button-to-review {
  display: inline-block;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  color: var(--color-primary);
  background-color: var(--star-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px var(--shadow-color);
  text-decoration: inherit;
  margin-left: 10px;
}

/* ------ place's bookings list settings ------ */

#all-bookings-list p {
  margin: 50px 0 150px 0;
}

#all-bookings-list table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 12px;
  color: var(--text-color);
}

#all-bookings-list th,
#all-bookings-list td {
  border: 1px solid var(--card-border-color);
  padding: 5px;
}

#all-bookings-list th {
  text-align: center;
}

#all-bookings-list thead {
  background-color: #f5f5f5;
}

#all-bookings-list tbody tr:nth-child(even) {
  background-color: #fafafa;
}

/* ------ amenities list settings ------ */

#place-list-amenities {
  display: grid;
  position: inherit;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1rem;
  margin: auto;
}

.place-list-amenities-title {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 600;
}

.place-amenities {
    justify-content: left;
    gap: 12px;
}

.amenity-item {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--card-border-color);
    padding: 6px 12px;
    border-radius: 10px;
    background: var(--color-primary);
    height: 35px;
}

.amenity-icon {
    width: 20px;
    height: 20px;
}

/* ------ reviews list settings ------ */

#reviews-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 20px;
}

.review-card {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  min-height: 100px;
  color: inherit;
  text-decoration: inherit;
  border: 1px solid var(--card-border-color);
  border-radius: 10px;
  gap: 5px;
}

.review-user-info {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.review-user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.review-user-name {
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  color: var(--text-color);
}

.review-card-rating-value {
  font-weight: bold;
}
.review-card-rating .star {
  color: var(--star-color);
}

.review-comment{
  font-style: italic;
  margin-top: 5px;
}
.no-review-text {
  margin-top: 50px;
  margin-bottom: 150px;
}

/* ------ place creation/update form settings ------ */

.new-place-main-title,
.update-place-main-title {
  margin-bottom: 20px;
}

.add-new-photos-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: var(--color-primary);
  background-color: var(--star-color);
  border: none;
  box-shadow: 0 4px 10px var(--shadow-color);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 10px;
}

.add-photo-user-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 20px;
}

.add-photo-text {
  font-size: 16px;
  color: var(--text-color);
  cursor: pointer;
}

.photo-url-inputs,
.update-photo-url-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 600px;
  margin-inline: auto;
}

.photo-url-input,
.update-photo-url-input {
  display: flex;
  gap: 10px;
  align-items: center;
}

.photo-url-input input,
.update-photo-url-input input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid var(--card-border-color);
  border-radius: 5px;
  margin: 5px 0;
}

.photo-url-input button,
.update-photo-url-input button {
  padding: 8px 12px;
  background-color: var(--star-color);
  color: var(--color-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-place-informations,
.update-place-informations {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
}

.new-place-informations label,
.update-place-informations label {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 800px;
}

.label-text {
  width: 200px;
  text-align: right;
  flex-shrink: 0;
}

.new-place-informations input:not([type="checkbox"]),
.new-place-informations textarea,
.update-place-informations input:not([type="checkbox"]),
.update-place-informations textarea {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid var(--card-border-color);
  resize: none;
  box-sizing: border-box;
}

#new-place-form p,
#update-place-form p {
  margin: 20px 0;
}

.char-counter {
  font-size: 12px;
  color: var(--light-text-color);
  text-align: right;
  width: 800px;
  margin-top: -10px;
  margin-bottom: 10px;
  cursor: default;
  user-select: none;
}

.new-place-amenities-checkbox,
.update-place-amenities-checkbox {
  display: grid;
  grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
  gap: 12px;
  padding: 10px 0;
}

.new-place-amenity-item,
.update-place-amenity-item {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--card-border-color);
  padding: 6px 12px;
  border-radius: 10px;
  background: var(--color-primary);
  cursor: pointer;
  width: 150px !important;
  height: 35px !important;
}

.new-place-information input[type="checkbox"],
.update-place-information input[type="checkbox"] {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin: 0;
}

.amenity-icon {
  width: 20px;
  height: 20px;
}

/* ------ global form settings ------ */

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 265px;
  height: 45px;
  border-radius: 45px;
  background-color: var(--star-color);
  box-shadow: 0 4px 10px var(--shadow-color);
  transition: all 0.5s ease;
  overflow: hidden;
}

.btn-submit, .btn-cancel {
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.btn-submit {
  background-color: var(--star-color);
  color: var(--color-primary);
}

.btn-cancel {
  background-color: var(--color-header);
  color: var(--text-color);
}

/* ------ review form settings ------ */

.review-container {
  position: relative;
  display: inline-block;
}

#open-review-form {
  display: block;
  margin: auto;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  color: var(--color-primary);
  background-color: var(--star-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px var(--shadow-color);
}

.review-container.expanding .button-wrapper {
  width: 900px;
  height: 280px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid var(--star-color);
  margin-left: 10px;
  transition: all 0.5s ease;
}

.review-container.expanding .button-to-review {
  color: transparent;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.review-form-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 280px;
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
  transition: opacity 0.3s ease 0.3s, transform 0.3s ease 0.3s;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-right: 10px;
}

.review-container.show-form .review-form-wrapper {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.review-form textarea {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid var(--card-border-color);
  resize: none;
}

.review-form label {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.review-form .label-text {
  width: 100px;
  font-weight: bold;
}

.review-form input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid var(--card-border-color);
}

.star-rating {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.star-rating .star {
  font-size: 28px;
  transition: color 0.2s ease;
  color: var(--star-color);
  user-select: none;
}

.star-rating .star.filled {
  color: var(--star-color);
}

.star-rating .star.hovered {
  color: var(--star-color);
}

.rating-value {
  margin-left: 10px;
  font-weight: bold;
  font-size: 16px;
  color: var(--text-color);
}

/* ------ user profile settings ------ */

#user-details {
  text-align: center;
  margin-bottom: 10px;
}

.user-detail-display {
  margin: 20px;
  padding: 20px;
}
.avatar-change-instructions {
  color: var(--light-text-color)
}

.user-details-name{
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 10px;
}
.user-details-photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--text-color);
}

.user-details-email {
  font-style: italic;
  margin-bottom: 20px;
}
.btn-to-change-avatar {
  border: none;
  background-color: var(--color-primary);
}

#button-to-update-user {
  display: block;
  margin: 30px auto;
  border: none;
  border-radius: 50px;
  color: var(--color-primary);
  background-color: var(--star-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px var(--shadow-color);
}

#user-places-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 20px;
  margin: 20px;
  padding-right: 30px;
}

#user-places-list-content {
  margin-top: 20px;
  align-items: center;
}

.button-to-add-place {
  display: inline-block;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  color: var(--color-primary);
  background-color: var(--star-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px var(--shadow-color);
  text-decoration: inherit;
  margin: 20px auto 0;
  display: block;
  width: 270px;
  text-align: center;
}

#user-bookings-list h2,
#user-reviews-list h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#user-bookings-list p,
#user-reviews-list p {
  margin: 50px 0 150px 0;
}

#user-bookings-list table,
#user-reviews-list table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 12px;
  color: var(--text-color);
}

#user-bookings-list th,
#user-bookings-list td,
#user-reviews-list th,
#user-reviews-list td {
  border: 1px solid var(--card-border-color);
  padding: 5px;
}

#user-bookings-list th,
#user-reviews-list th {
  text-align: center;
}

#user-bookings-list thead,
#user-reviews-list thead {
  background-color: #f5f5f5;
}

#user-bookings-list tbody tr:nth-child(even),
#user-reviews-list tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.place-owner-contact-btn {
  background: transparent;
  border: none;
  color: var(--star-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* ------ user update form settings ------ */

.user-update-container {
  position: relative;
  display: inline-block;
}

.button-to-update-user {
  background: transparent;
  border: none;
  color: var(--color-primary);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
}

.user-update-container.expanding .button-wrapper {
  width: 340px;
  height: 340px;
  border-radius: 20px;
  border: 2px solid var(--star-color);
  background-color: transparent;
}

.user-update-container.expanding .button-to-update-user {
  color: transparent;
  opacity: 0;
  transition: color 0.3s ease;
}

.form-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 340px;
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
  transition: opacity 0.3s ease 0.3s, transform 0.3s ease 0.3s;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.user-update-container.show-form .form-wrapper {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.update-form label {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.update-form .label-text {
  width: 100px;
  font-weight: bold;
}

.update-form input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid var(--light-text-color);
}

/* ------ user modal settings ------ */

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-color);
  z-index: 999;
}

#user-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-primary);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px var(--shadow-color);
  z-index: 1000;
}

.user-card-modal {
  background-color: var(--color-primary);
  border-radius: 12px;
  padding: 1.5rem;
  max-width: 320px;
  width: 90%;
  box-shadow: 0 2px 10px var(--shadow-color);
  position: relative;
  text-align: center;
}

.user-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal-user-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

#close-user-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 24px;
  cursor: pointer;
}

#user-contact-button {
  display: inline-block;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  color: var(--color-primary);
  background-color: var(--star-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px var(--shadow-color);
  text-decoration: inherit;
  margin: 20px auto 0;
  display: block;
  width: 270px;
  text-align: center;
}

.show-all-reviews-btn {
    grid-column: 1 / -1;
    margin-top: 0.5rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--color-primary);
    color: var(--text-color);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

/* ---------------- booking settings ---------------- */

.booking-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

.booking-info {
  flex: 1;
  max-width: 300px;
}

.selected-dates {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px 0;
}

#booking-form button {
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  background-color: var(--star-color);
  color: var(--color-primary);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  margin-left: 70px;
}

#booking-form button:hover {
  background-color: var(--star-color);
}

#calendar {
  flex: 1;
  min-width: 320px;
  max-width: 500px;
}

.litepicker {
  background: var(--color-header);
  border-radius: 8px;
  box-shadow: 0 4px 12px var(--shadow-color);
  font-family: Arial, sans-serif;
  user-select: none;
}

.litepicker .container__months > div {
  border-bottom: 1px solid var(--card-border-color);
  padding-bottom: 8px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--text-color);
}

.litepicker .container__days .day-name {
  font-weight: 600;
  font-size: 0.85rem;
}

.litepicker .container__days .day-item {
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 500;
}

.litepicker .container__days .day-item:hover:not(.is-locked):not(.is-disabled) {
  background-color: #9acba3e9;
  color: var(--color-primary);
  cursor: pointer;
  box-shadow: none !important;
}

.litepicker .container__days .day-item.is-start-date,
.litepicker .container__days .day-item.is-end-date {
  background-color: #9acba3e9 !important;
  color: var(--color-primary) !important;
  font-weight: 700;
}

.litepicker .container__days .day-item.is-in-range {
  background: #c9e9cfe9 !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.litepicker .container__days .day-item.is-locked {
  background-color: #eee !important;
  color: #aaa;
  cursor: not-allowed;
  pointer-events: none;
  font-style: italic;
}

.litepicker .container__days .day-item.is-disabled {
  color: var(--text-color);
  cursor: default;
  background: none;
}

/* ---------------- login settings ---------------- */

.login-title {
  text-align: center;
  color: var(--text-color)
}

.login-input {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  max-width: 500px;
  width: 100%;
}

.login-input input {
  width: 100%;
  padding: 12px 20px;
  border: 2px solid var(--card-border-color);
  border-radius: 50px;
  outline: none;
  font-size: 16px;
  background-color: var(--color-header);
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 6px var(--shadow-color);
}

.login-input input:focus {
  border-color: var(--card-border-color);
  box-shadow: 0 0 8px var(--shadow-color);
  background-color: var(--color-primary);
}

.login-validation-button {
  display: block;
  margin: 30px auto;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  color: var(--color-primary);
  background-color: var(--star-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px var(--shadow-color);
}

.login-validation-button a {
  text-decoration: inherit;
  color: inherit;
}

/* ---------------- registration settings ---------------- */

.registration-title {
  text-align: center;
  color: var(--text-color);
}

.registration-input {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  max-width: 500px;
  width: 100%;
}

.registration-input input {
  width: 100%;
  padding: 12px 20px;
  border: 2px solid var(--card-border-color);
  border-radius: 50px;
  outline: none;
  font-size: 16px;
  background-color: var(--color-header);
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 6px var(--shadow-color);
}

.registration-input textarea {
  width: 100%;
  padding: 12px 20px;
  border: 2px solid var(--card-border-color);
  border-radius: 25px;
  outline: none;
  font-size: 16px;
  background-color: var(--color-header);
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 6px var(--shadow-color);
}

.registration-input input:focus {
  border-color: var(--card-border-color);
  box-shadow: 0 0 8px var(--shadow-color);
  background-color: var(--color-primary);
}

.registration-validation-button {
  display: block;
  margin: 30px auto;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  color: var(--color-primary);
  background-color: var(--star-color);
  color: var(--color-primary);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px var(--shadow-color);
}

/* ---------------- footer settings ---------------- */

.footer {
    background-color: var(--color-primary);
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--card-border-color);
}

.footer-content {
  color: var(--light-text-color);
  text-align: center;
  padding: 10px;
  user-select: none;
}

.footer-content a {
  text-decoration: inherit;
  color: #9a9898;
}